.HeroSection {
  background-color: #f5efe6;
}

.HeroHeading {
  color: black;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: capitalize;
}

.Price {
  color: #155724;
  font-weight: 800;
}

.HeroText {
  color: black;
  font-size: 22px;
  margin: 30px 0;
  font-weight: 400;
}

.CheckList {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.CheckList:nth-of-type(4) {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.Icon {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: #d1dbd5 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.Icon * {
  color: #155724 !important;
  font-size: 20px !important;
}

.Btn {
  background-color: white;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: none;
  border-radius: 10px 10px 0 0;
  margin: 0;
  font-size: 15px;
  opacity: 0.5;
}

.Btn:hover {
  cursor: pointer;
}

.BtnIcon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: transparent;
}

.Active {
  border: none;
  color: #155724;
  opacity: 1;
}

.Active .BtnIcon {
  background-color: #d1dbd5;
}

.BtnText {
  display: flexbox;
  font-size: 15px;
  margin-left: 5px;
}

@media screen and (max-width: 991px) {
  .HeroDiv {
    display: block;
  }
  .HeroHeading {
    font-size: 32px;
  }
  .HeroText {
    font-size: 20px;
  }
}
