.HeroSection {
  background-color: #f5efe6;
  padding: 75px 0;
}

.HeroHeading {
  color: black;
  font-size: 44px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: capitalize;
}

.Price {
  color: var(--primary-color);
  font-weight: 700;
}

.HeroText {
  color: rgb(75, 75, 75);
  font-size: 20px;
  margin: 30px 0;
  font-weight: 400;
}

.CheckList {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.CheckList:nth-of-type(4) {
  display: flex;
  align-items: center;
}

.Icon {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background-color: #d1dbd5 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.Icon * {
  color: #155724 !important;
  font-size: 18px !important;
}

.Btn {
  background-color: white;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: none;
  border-radius: 10px 10px 0 0;
  margin: 0;
  font-size: 15px;
  opacity: 0.5;
}

.Btn:hover {
  cursor: pointer;
}

.BtnIcon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  background-color: transparent;
}

.Active {
  border: none;
  color: #155724;
  opacity: 1;
}

.Active .BtnIcon {
  background-color: #d1dbd5;
}

.BtnText {
  display: flexbox;
  font-size: 15px;
  margin-left: 5px;
}

@media screen and (max-width: 991px) {
  .HeroSection {
    padding: 50px 0;
  }
  .Content {
    margin-bottom: 30px;
  }
  .HeroHeading {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
  }
  .HeroText {
    font-size: 16px;
    text-align: center;
    margin: 15px 0;
  }
  .Icon {
    width: 30px;
    height: 30px;
  }
  .ChecklistBox {
    display: none;
  }
  .CheckList {
    font-size: 16px;
  }
}
