.Form {
  padding: 40px;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  margin: 0;
  -webkit-box-shadow: 0px 0px 40px -10px rgba(200, 200, 200, 1);
  -moz-box-shadow: 0px 0px 40px -10px rgba(200, 200, 200, 1);
  box-shadow: 0px 0px 40px -10px rgba(200, 200, 200, 1);
}

.Type {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 15px;
  padding: 10px 10px;
  width: fit-content;
  border-radius: 5px;
  cursor: pointer;
}

.Active {
  color: #fff;
  background-color: var(--primary-color);
}

.Alert {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 15px;
}

.Success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.Danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.FieldTitle {
  font-size: 15px;
  border-bottom: 1px solid rgb(200, 200, 200);
  padding-bottom: 5px;
  margin: 20px 0 15px 0;
  text-transform: capitalize;
  color: rgb(100, 100, 100);
}

.Input {
  width: 50%;
  margin-bottom: 10px;
}

.Row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.Title {
  width: 20%;
}

.Name {
  width: 40%;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.PassengerNumber {
  font-size: 14px;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.StripeImg {
  margin-top: 5px;
  width: 20%;
}

.Total {
  font-weight: bold;
  color: white;
}

.Total span {
  font-weight: medium;
  color: black;
}

@media only screen and (max-width: 991px) {
  .Form {
    padding: 40px 30px;
  }
  .Row {
    display: flex;
  }
  .Input {
    width: 100%;
    margin-bottom: 15px;
  }
  .StripeImg {
    margin-top: 5px;
    width: 30%;
  }
  .Title {
    width: 35%;
    padding-right: 2px;
  }
  .Name {
    width: 65%;
  }
  .Name:nth-of-type(3) {
    width: 100%;
  }
}
