.Counter {
  padding: 10px 0px;
  display: flex;
  font-size: 15px;
}

.Number {
  width: 100px;
  text-align: center;
}

.Button {
  padding: 0;
  background-color: transparent;
  border: none;
}

.Button > * {
  font-size: 15px;
}
