.Counter {
  padding: 10px 0px;
  display: flex;
  font-size: 14px;
}

.Number {
  width: 100px;
  text-align: center;
  font-size: 15px;
}

.Button {
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 12px;
}

.Button * {
  font-size: 17px !important;
}
