.Label {
  font-size: 15px;
  font-weight: 400;
  color: var(--primary-color-dark);
}

.Required {
  color: red;
  margin-right: 5px;
}

.Optional {
  margin-left: 2.5px;
  color: rgb(150, 150, 150);
  font-weight: 400;
}
