.Container {
  width: 100%;
  border-radius: 100px;
  padding: 0 20px;
  background-color: rgb(242, 242, 242);
  transition-duration: 0.3s;
}

.Select {
  width: 100%;
  border-radius: 100px;
  border: none;
  background-color: transparent;
  font-size: 14px;
  padding: 10px 0;
}

.Select:focus-visible {
  outline: none;
}

.Container:hover {
  outline: none;
  background-color: rgb(230, 230, 230);
}
