.SelectDiv {
  width: 100%;
  background-color: white;
  padding: 0 10px;
  border-radius: 5px;
  border: 1.5px solid rgb(220, 220, 220);
}

.Select {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 12px 0;
}

@media only screen and (max-width: 991px) {
  .SelectDiv {
    width: 100%;
    margin-bottom: 10px;
  }
}
