.TextArea {
  font-size: 15px;
  width: 100%;
  background-color: rgb(242, 242, 242);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  height: 150px;
  transition: 0.3s;
}
.TextArea:focus-visible {
  outline: none;
  background-color: rgb(230, 230, 230);
}
.TextArea::placeholder {
  color: var(--grey-color-medium);
}
