.FAQCard {
  padding-bottom: 20px;
  background-color: transparent;
}

.QuestionBox {
  font-weight: 400;
  display: flex;
  align-items: center;
  color: white;
  background-color: var(--primary-color);
  padding: 20px 30px;
  border-radius: 5px;
  transition-duration: 0.3s;
}

.QuestionBox:hover {
  cursor: pointer;
  background-color: var(--primary-color-dark);
}

.Active {
  background-color: var(--primary-color-dark);
}

.Question {
  width: 80%;
  margin: 0;
  font-size: 17px;
  font-weight: 500;
}

.FAQIcon {
  width: fit-content;
  margin: 0 0 0 auto;
}

.Answer {
  padding: 0 30px;
  transition-duration: 0.3s;
  color: rgb(50, 50, 50);
  font-size: 17px;
}

.Hidden {
  height: 0;
  overflow: hidden;
}

.Show {
  padding: 20px 30px 0 30px;
}
