.HeroSection {
  background-color: #f5efe6;
}

.HeroHeading {
  color: black;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 600;
  text-transform: capitalize;
}

.HeroText {
  color: black;
  font-size: 22px;
  margin: 30px 0;
  font-weight: 400;
}

.Btn {
  background-color: white;
  width: fit-content;
  display: flexbox;
  padding: 10px 40px;
  border-radius: 10px 10px 0 0;
  margin: 0;
  font-size: 15px;
}

.Btn:hover {
  cursor: pointer;
}

.Active {
  border: 2px solid black;
  border-bottom: 0;
}

@media screen and (max-width: 991px) {
  .HeroDiv {
    display: block;
  }
  .HeroHeading {
    font-size: 32px;
    font-weight: 600;
  }
  .HeroText {
    font-size: 20px;
  }
}
