.FlashCard {
  width: 400px;
  height: 300px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FlashCard:hover {
  cursor: pointer;
}

.Active {
  background-color: red;
}
