.Form {
  padding: 40px;
  width: 100%;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  margin: 0;
  /* -webkit-box-shadow: 0px 0px 40px 4px rgba(240, 240, 240, 1);
  -moz-box-shadow: 0px 0px 40px 4px rgba(240, 240, 240, 1);
  box-shadow: 0px 0px 40px 4px rgba(240, 240, 240, 1); */
}

.Type {
  font-size: 14px;
  margin-bottom: 15px;
  padding: 10px 15px;
  width: fit-content;
  border-radius: 5px;
  cursor: pointer;
}

.Active {
  color: #1a4d2e;
  background-color: #e8edea;
}

.Alert {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 15px;
}

.Success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.Danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.FieldTitle {
  font-size: 14px;
  border-bottom: 1px solid rgb(200, 200, 200);
  padding-bottom: 5px;
  margin: 10px 0 15px 0;
  text-transform: capitalize;
  color: rgb(100, 100, 100);
}

.Input {
  width: 50%;
  margin-bottom: 10px;
}

.Row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.Title {
  width: 20%;
}

.Name {
  width: 40%;
  margin-bottom: 10px;
}

.PassengerNumber {
  font-size: 14px;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.Required {
  color: red;
  margin-right: 5px;
}

.StripeImg {
  margin-top: 5px;
  width: 20%;
}

@media only screen and (max-width: 991px) {
  .Form {
    padding: 40px 30px;
  }
  .Row {
    display: block;
  }
  .Input {
    width: 100%;
    margin-bottom: 15px;
  }
  .StripeImg {
    margin-top: 5px;
    width: 30%;
  }
}
