.StepsCol {
  width: 28%;
  text-align: center;
}

.StepsHeadingDiv {
  height: 60px;
  width: 60px;
  padding: 15px;
  background-color: white;
  color: #1a4d2e;
  border-radius: 100px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.StepsNumber {
  text-align: center;
  margin: 0 auto;
  font-size: 25px;
  font-weight: 700;
}

.StepsHeading {
  margin: 20px 0;
  font-weight: 600;
  text-transform: capitalize;
}

.StepsText {
  font-size: 18px;
  margin: 0;
}

.Icon {
  width: 5%;
  margin: auto 0;
  display: flex;
  justify-content: center;
}

.Icon * {
  color: #f5efe6;
  font-size: 70px !important;
  margin: auto;
}

@media only screen and (max-width: 991.5px) {
  .StepsCol {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .StepsCol:nth-of-type(3) {
    margin-bottom: 0px;
  }
  .StepsHeadingDiv {
    margin-bottom: 0;
  }
  .StepsHeading {
    margin: 15px 0;
  }

  .Icon {
    width: 100%;
    margin: auto 0;
    display: flex;
    justify-content: center;
    rotate: 90deg;
    margin: 40px 0;
  }

  .Icon * {
    color: #f5efe6;
    font-size: 70px !important;
    margin: auto;
  }
}
