.Heading {
  padding-bottom: 30px;
}

.AboutText {
  text-align: center;
  font-size: 20px;
}

.Link {
  color: var(--primary-color);
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  .ImgDiv {
    width: 90%;
    height: 250px;
    margin: 0 auto;
  }
  .AboutText {
    text-align: center;
    font-size: 18px;
  }
  .TextSection {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
  }
}
