.ChecklistBox {
  padding-top: 75px;
}

.CheckList {
  width: fit-content;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  color: rgb(75, 75, 75);
}

.CheckList:nth-of-type(4) {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.Icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.Icon * {
  color: var(--primary-color) !important;
  font-size: 25px !important;
}
