@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --primary-color: #20b2aa;
  --primary-color-dark: #188781;
  --primary-color-light: #bce7e5;
  --grey-color: rgb(200, 200, 200);
  --grey-color-light: rgb(230, 230, 230);
  --grey-color-medium: rgb(160, 160, 160);
  --grey-color-dark: rgb(120, 120, 120);
}

* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
}

input,
button,
select,
option {
  font-weight: 400;
  font-size: 15px;
}

p {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.section-heading {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 50px;
  padding-top: 0;
  margin: 0;
}

.color-white {
  color: white;
}

.primary-color {
  color: #1a4d2e;
}

@media only screen and (max-width: 991.5px) {
  .section-heading {
    font-size: 32px;
  }
}
