@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Outfit';
}

@theme {
  --color-primary-50: #dbeff1;
  --color-primary-100: #b8e0e2;
  --color-primary-200: #8eced0;
  --color-primary-300: #5dbbbd;
  --color-primary-400: #34a8a9;
  --color-primary-500: #14948f; /* Darker Base */
  --color-primary-600: #117f7a;
  --color-primary-700: #0d6a66;
  --color-primary-800: #0a5552;
  --color-primary-900: #073f3d;
  --color-accent-50: #e2f7fb;
  --color-accent-100: #ffece8;
  --color-accent-200: #ffd0c5;
  --color-accent-300: #ffb3a1;
  --color-accent-400: #ff8f75;
  --color-accent-500: #ff603a; /* Base */
  --color-accent-600: #e7441d;
  --color-accent-700: #c42700;
  --color-accent-800: #a12000;
  --color-accent-900: #701700;
  --font-nunito: 'Nunito Variable';
  --font-merriweather: 'Merriweather';
  --font-outfit: 'Outfit';
  --rounded-input-sm: 5px;
  --rounded-input-md: 8px;
  --rounded-input-lg: 10px;
  --input-box-shadow: 0px 0px 5px -1px var(--grey-color-600);
  --input-box-shadow-sm: 0px 0px 5px -1px var(--grey-color-600);
  --input-box-shadow-focus: 0px 0px 8px 0px var(--grey-color-600);
  --input-box-shadow-sm-focus: 0px 0px 8px 0px var(--grey-color-600);
  --form-shadow: 0px 0px 20px 1px rgba(219, 219, 219, 1);
  --flight-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
  --flight-shadow-hover: 0 12px 32px rgba(0, 0, 0, 0.08);
}

body {
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
}

a {
  text-decoration: none;
}

.blog_post h2 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 25px;
}

.blog_post h3 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 25px;
}

.blog_post p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 25px;
  line-height: 32px;
}

.blog_post a {
  color: var(--color-primary-500);
  font-weight: 400;
}

.blog_post ol,
.blog_post ul {
  margin-bottom: 25px;
}

.blog_post li {
  font-size: 18px;
  font-weight: 300;
  margin: 8px 0;
  margin-left: 20px;
  padding-left: 10px;
  list-style-type: disc;
}

.blog_post li:nth-last-of-type {
  margin-bottom: 0;
}

@media (width < 1024px) {
  .blog_post p,
  .blog_post li {
    font-size: 16px;
    line-height: 28px;
  }
}
