.Nav {
  display: none;
}

@media only screen and (max-width: 991px) {
  .Nav {
    display: block;
    padding: 15px 0;
  }
  .MenuContainer {
    width: 15%;
    margin: auto 0;
  }
  .MenuContainer > * {
    font-size: 30px !important;
  }
  .LogoContainer {
    width: 50%;
  }
  .Logo {
    width: 100%;
  }
}
