.Header {
  background-color: #f5efe6;
  padding: 20px 0;
}

.Nav {
  position: static;
}

.LogoDiv,
.CTADiv {
  width: 20%;
  padding: 0;
}

.CTADiv {
  width: fit-content;
  padding: 0;
}

.NavLinks {
  width: 40%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Logo {
  width: 100%;
}

.NavLink {
  transition-duration: 0.3s;
  padding: 10px 10px;
  border-bottom: 4px solid transparent;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.NavLink:hover {
  border-bottom: 4px solid #305e42;
}

.CTADiv {
  align-items: center;
  display: flex;
  justify-content: end;
}

@media only screen and (max-width: 991px) {
  .Nav {
    display: none;
  }
}
